*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

:root {
    --white: #ffffff;
    --black: #000000;
    --gray-300: #acc1de;
    --gray-500: #5e6e85;
    --blue-100: #e1e7fe;
    --blue-300: #b3d3f1;
    --blue-500: #345ff6;
    --blue-900: #253347;
    --gradient-one: linear-gradient(to right, #ffffff, #D6FCFE);
    --gradient-two: linear-gradient(to right, rgb(214, 252, 254, 0.15), rgb(214, 230, 254, 0.15));
    --text-preset-one: 600 4rem/1.1 "Inter";
    --text-preset-two: 600 3rem/1.1 "Inter";
    --text-preset-three: 600 2rem/1.1 "Inter";
    --text-preset-four: 600 1.5rem/1.2 "Inter";
    --text-preset-five: 600 1.25rem/1.2 "Inter";
    --text-preset-six-semibold: 600 1rem/1.5 "Inter";
    --text-preset-six: normal 1rem/1.5 "Inter";
    --text-preset-seven-bold: bold 0.875rem/1.5 "Inter";
    --text-preset-seven: normal 0.875rem/1.5 "Inter";
}

body {
    font-family: "Inter";
}

.calculator {
    max-width: 1160px;
    margin-inline: auto;
    padding: 2rem 1.5rem 4rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}

.calculator__gradient {
    position: absolute;
    z-index: -1;
    height: 640px;
    width: 100%;
    max-width: 1002px;
    background: var(--gradient-one);
    border-bottom-left-radius: 2.1875rem;
    border-bottom-right-radius: 2.1875rem;
}

.logo {
    width: 2.5rem;
}

.calculator__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2.5rem;
}

.calculator__info {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    flex: 1;
}

.calculator__header {
    font: var(--text-preset-two);
    color: var(--blue-900);
    text-align: center;
}

.calculator__description {
    font: var(--text-preset-six);
    color: var(--gray-500);
    text-align: center;
}

.calculation {
    width: 100%;
    max-width: 42.875rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    background: var(--white);
    border-radius: 1rem;
    box-shadow: 1rem 2rem 3.5rem 0 #8FAECF40;
    flex: 1;
}

.calculation__header {
    font: var(--text-preset-four);
    color: var(--blue-900);
}

.calculation__buttons {
    display: flex;
    column-gap: 1.5rem;
}

.calculation__item {
    flex: 1;
    font: var(--text-preset-six-semibold);
    color: var(--blue-900);
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.calculation__button {
    width: 1.875rem;
    height: 1.875rem;
}

.calculation__measures {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    column-gap: 1.5rem;
}

.calculation__measure {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.calculation__measure--label {
    font: var(--text-preset-seven);
    color: var(--gray-500);
}

.calculation__wrapper {
    position: relative;
}

.calculation__input {
    width: 100%;
    border-radius: 0.75rem;
    border: 0.0625rem solid var(--gray-500);
    padding: 1.5rem;
    font: var(--text-preset-four);
    color: var(--gray-500);
}

.calculation__unit {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font: var(--text-preset-four);
    color: var(--blue-500);
}

.calculation__output {
    padding: 2rem;
    background: var(--blue-500);
    color: var(--white);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.calculation__output--welcome {
    font: var(--text-preset-four);
}

.calculation__output--description {
    font: var(--text-preset-seven);
}

.info {
    padding-block-end: 4rem;
}

.info__content {
    padding-block-start: 3rem;
    padding-inline: 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.info__header {
    font: var(--text-preset-three);
    color: var(--blue-900);
}

.info__description {
    font: var(--text-preset-six);
    color: var(--gray-500);
}

.lifestyle {
    padding: 3rem 1.5rem;
    background: var(--gradient-two);
}

.lifestyle__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

.lifestyle__list--item {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    column-gap: 2.5rem;
}

.lifestyle__icon {
    max-width: 4rem;
}

.lifestyle__content {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.lifestyle__content--header {
    font: var(--text-preset-four);
    color: var(--blue-900);
}

.lifestyle__content--description {
    font: var(--text-preset-six);
    color: var(--gray-500);
}

.limitations {
    padding: 5.125rem 1.875rem 6rem 1.875rem;
    display: flex;
    flex-direction: column;
    row-gap: 3.5rem;
}

.limitations__info {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.limitations__info--header {
    font: var(--text-preset-three);
    color: var(--blue-900);
    text-align: center;
}

.limitations__info--description {
    font: var(--text-preset-six);
    color: var(--gray-500);
    text-align: center;
}

.limitations__list {
    list-style: none;
    display: grid;
    gap: 1rem;
}

.limitations__list--item {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    background: var(--white);
    border-radius: 1rem;
    box-shadow: 1rem 2rem 3.5rem 0 #8FAECF40;
}

.limitations__title {
    display: flex;
    column-gap: 1rem;
}

.limitations__header {
    font: var(--text-preset-five);
    color: var(--blue-900);
}

.limitations__description {
    font: var(--text-preset-six);
    color: var(--gray-500);
}



.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}


@media screen and (min-width: 40rem) {
    .calculation__measures {
        flex-direction: row;
    }

    .calculation__output {
        border-bottom-right-radius: 999px;
        border-top-right-radius: 999px;
    }

    .info {
        margin-inline-start: -6rem;
        display: flex;
        align-items: center;
        column-gap: 4.5rem;
    }

    .info__image {
        max-width: 435px;
    }

    .info__content {
        padding: 0;
        padding-inline-end: 2.625rem;
    }

    .lifestyle {
        padding-block: 3.125rem;
        padding-inline: 2.5rem;
    }

    .lifestyle__list--item {
        flex-direction: row;
    }

    .limitations__list {
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
        "gender gender age age"
        "muscle muscle pregnancy pregnancy"
        "...    race   race      ...";
    }

    .gender {
        grid-area: gender;
    }

    .age {
        grid-area: age;
    }

    .muscle {
        grid-area: muscle;
    }

    .pregnancy {
        grid-area: pregnancy;
    }

    .race {
        grid-area: race;
    }
}

@media screen and (min-width: 64rem) {
    .logo {
        align-self: flex-start;
    }

    .calculator__gradient {
        height: 737px;
    }

    .calculator__wrapper {
        flex-direction: row;
        column-gap: 2rem;
    }

    .calculator__description {
        max-width: 465px;
    }

    .calculator__header {
        text-align: start;
    }

    .calculator__description {
        text-align: start;
    }

    .limitations__list {
        align-self: flex-end;
        max-width: 60rem;
        grid-template-columns: repeat(10, 1fr);
        grid-template-areas:
        "...       ...       ...       ...       ...  gender gender gender gender ...   "
        "...       ...       age       age       age  age    muscle muscle muscle muscle"
        "pregnancy pregnancy pregnancy pregnancy race race   race   race   ...    ...   ";
    }
}